body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}
body {
    background: #eee;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    margin: 0;
}

.io-site {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: rgba(255,255,255,.9);
    position: relative;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.io-container {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

@media only screen and (min-width: 768px)
.io-nav-text .io-nav-header-name {
    text-align: right;
    font-weight: 100;
    font-size: 3rem;
    width: 80%;
}
.white-text {
    color: #FFF!important;
}

@media only screen and (min-width: 768px)
.io-nav-text {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -mox-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
*, :after, :before {
    box-sizing: inherit;
}
@media only screen and (min-width: 768px)
.io-nav-text .io-nav-header-name {
    text-align: right;
    font-weight: 100;
    font-size: 3rem;
    width: 80%;
}
.io-nav {
    box-shadow: 4px 0 6px rgba(0,0,0,.1);
    -mox-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    min-height: 100%;
    min-width: 50px;
    max-width: 50px;
    height: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    opacity: 0;
}

.red.accent-2 {
    background-color: #FF5252!important;
}
.io-nav-header {
    display: none;
}


.io-nav-inner {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -mox-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.io-navigation {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -mox-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.io-navigation-item {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: all 650ms ease;
    -moz-transition: all 650ms ease;
    -o-transition: all 650ms ease;
    -ms-transition: all 650ms ease;
    transition: all 650ms ease;
}


.io-navigation-item-text {
    display: none;
}
.grey-text {
    color: #9e9e9e!important;
}


.io-navigation-item>i {
    line-height: 40px;
    max-height: 40px;
}
.select-wrapper span.select-dropdown:after, [class*=" mdi-"], [class^=mdi-] {
    font-family: Material-Design-Icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
